{% extends 'network/index.html' %}
{% load static %}
{% block about %}
<nav class="head heading">About Us</nav>
<div style="position:relative;left:30px;top:30px;height:1800px;width:90%">
    <h2 style="text-align:center;">Our mission</h2><br>
    <img src="{% static 'network/Images/1.jpg' %}" style="height:300px;width:500px;position:relative;left:40px"><br><br>
    <p style="text-align: justify;" >At Unnavigated, we are constantly iterating, solving problems and working together to connect people all over the world.
    We provide people with a platform to express their experiences to the world and also provide them with an opportunity to learn from other's experiences.
    By providing a platform like unnavigated, our goal is to bring the world closer and help people with their intrest in travel to explore more.</p>
    <img src="{% static 'network/Images/2.jpg' %}" style="height:300px;width:200px;position:relative;left:0px"><br><br>
    <p style="text-align: justify;position:relative;top:-330px;left:220px;width:61%" >That’s why it’s important that our workforce reflects the diversity of the people we serve.
    Hiring people with different backgrounds and points of view helps us make better decisions, build better products and create better experiences for everyone.
    Your home feed is where you'll find Posts and people who have joined unnavigated. You'll get a unique feed of yours in the following section. Here you will find posts of the people based on your following activity. We'll also show you Pictures and posts from the people you choose to follow.</p>
    <p style="text-align: justify;position:relative;top:-320px;">You can also create your own posts and share you experiences through pictures. You can "Like", "Comment", and "Save" posts to refer later. We also provide you with a personalised profile of yours.</p>
    <img src="{% static 'network/Images/3.jpg' %}" style="height:300px;width:500px;position:relative;top:-310px;left:40px"><br>
    <p style="text-align: justify;position:relative;top:-300px;">With this little initiative of ours, we hope to help small businesses grow and help people connect and explore more. We hope to bring the world closer and to find the Unnavigated!</p>
     <img src="{% static 'network/Images/4.jpg' %}" style="height:300px;width:500px;position:relative;left:40px;top:-300px;"><br><br>
    <p style="text-align: center;position:relative;top:-300px;"> Happy Exploring! </p>
</div>
{% endblock %}