{% load static %}

{% block payment %}
             <h5 style="font-weight:bold;font-size:30px; text-align:center" >---------------------Payment Details---------------------</h5>
                     <img class="card-img" src="{% static 'network/Images/card.png' %}" style="width:200px;height:50px;position:relative;left:365px"><br><br>
<form action="{% url 'payment_process' %}" id="payment-form">
<label style="font-weight:bold;font-size:18px;padding-top:10px;position:relative;left:370px">Card Number:  </label><br>
        <input type="tel" pattern="[0-9]*"  id="card_number" name="card_number" value="{{ card_number }}" autocomplete="off" maxlength="19" placeholder="Enter card number" style="font-size:17px;width:40%;position:relative;left:370px;height:30px" required>
               <span class="input-group-text" style="width:40px;height:36px;position:relative;top:-36px;left:340px;background-color:rgba(0,0,0,0);border-color:rgba(0,0,0,0);">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-credit-card" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                      <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
                      </svg>
               </span><br><br>
        <label style="font-weight:bold;font-size:18px;position:relative;left:370px" >Card Holder's name :</label><br>
        <input type="text" name="card_holdername"  style="font-size:17px;width:40%;position:relative;left:370px;height:30px" id="cardHolderName" placeholder="Enter name" required><br><br>
        <label style="font-weight:bold;font-size:18px;padding-top:10px;position:relative;left:370px">Expiry Date : </label><br>
        <select name="expmonth" id="expiry_month" style="font-size:17px;width:10%;height:30px;position:relative;left:370px" required>
               <option value="">Month</option>
               <option value="01">01</option>
               <option value="02">02</option>
               <option value="03">03</option>
               <option value="04">04</option>
               <option value="05">05</option>
               <option value="06">06</option>
               <option value="07">07</option>
               <option value="08">08</option>
               <option value="09">09</option>
               <option value="10">10</option>
               <option value="11">11</option>
               <option value="12">12</option>
               </select>
        <select name="expyear" id="expiry_year" style="font-size:17px;width:10%;height:30px;position:relative;left:370px"  required>
                <option value="">Year</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
                <option value="2030">2030</option>
                <option value="2031">2031</option>
                <option value="2032">2032</option>
                <option value="2033">2033</option>
                <option value="2034">2034</option>
                <option value="2035">2035</option>
                <option value="2036">2036</option>
                <option value="2037">2037</option>
                <option value="2038">2038</option>
                <option value="2039">2039</option>
                <option value="2040">2040</option>
                <option value="2041">2041</option>
                <option value="2042">2042</option>
                <option value="2043">2043</option>
                <option value="2044">2044</option>
                <option value="2045">2045</option>
                <option value="2046">2046</option>
                <option value="2047">2047</option>
                <option value="2048">2048</option>
                <option value="2049">2049</option>
                <option value="2050">2050</option>
                <option value="2051">2051</option>
                <option value="2052">2052</option>
                <option value="2053">2053</option>
                <option value="2054">2054</option>
                <option value="2055">2055</option>
                <option value="2056">2056</option>
        </select><br><br>
     <label style="font-weight:bold;font-size:18px;padding-top:10px;position:relative;left:370px">CVV Code : </label><br>
     <input style="font-size:17px;width:10%;position:relative;left:370px;height:30px" type="password" pattern="[0-9]*" placeholder="CVV" id="cvv_number" name="cvv" maxlength="3" required> <br> <br> <br>
             <button class="btn btn-primary btn-dark" type="submit" value="submit" style="font-weight:bold;position:relative;left:500px;width:25%;height:40px;background:#CACFD2;">Make payment</button>
    </form>
{% endblock %}